 <style>
      body {
        height: 100vh;
        width: 100vw;

      }

      .header {
        display: flex;
        width: 100%;
        height: 12%;
      }

      #lefthead {
        min-width: 30%;
      }

      #righthead {
        display: flex;
        min-width: 70%;
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        justify-content: space-around;
        align-items: center;
      }

      #logo {
        padding-left: 33%;
        padding-top: 5%;

      }

      #righthead a {
        color: black;
      }

      .vit {
        width: 100%;
        height: 100%;
        background-image: url("https://www.mpl.live/cledge.mpl.live/pb/website/static/c2494f8fec734d9d985245a82192e5a0.webp");
        background-position-x: center;
        background-color: #230046;
      }


      #help {
        display: flex;
        width: 120px;
        height: 50px;
        color: rgba(228, 15, 44, 0.918);
        font-size: large;
        justify-content: space-around;
        align-items: center;
      }

      .active {
        background: #33ff66;
        padding: 10px;
        border-radius: 5px;
      }

      .pic_login>h1 {
        display: inline-block;
        margin-top: 15%;
        margin-left: 10%;
        color: white;
        font-weight: 600px;
        font-size: 45px;
        font-family: Arial, Helvetica, sans-serif;
      }

      .head1 {
        width: 100%;
        height: 10%;
      }

      .win {
        color: white;
        font-size: 30px;
        margin-left: 10%;
      }

      #cash {
        color: #33ff66;

      }

      .otp {
        height: 50px;
        width: 720px;
        margin-top: 4%;
        margin-left: 10%;
        display: flex;

      }

      #getnum {
        width: 50%;
        height: 86%;
        color: black;
        border-radius: 6px;
        font-size: 20px;

      }

      #subnum {
        width: 50%;
        height: 100%;
        margin-left: 2%;
        color: black;
        border-radius: 5px;
        background-color: #33ff66;
        font-size: 22px;
        font-weight: bold;
      }

      .head1>h2 {
        display: flex;
        color: #230046;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 800;
        margin-top: 10%;
      }

      .appPara {
        width: 100%;
        height: 25%;
        margin-top: 5%;
      }

      .appPara>span {
        display: flex;
        color: rgba(25, 10, 40, 0.6);
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: 400px;
        font-style: normal;
        line-height: 25px;
        text-align: center;
      }

      #rate {
        margin-top: 5%;
        font-size: 42px;
      }

      .rating {
        width: 100%;
        height: 48%;
        background-color: white;
        margin-top: 2%;
        display: flex;
        justify-content: center;
      }

      #rateImg {
        height: 100%;
        width: 60%;
      }

      .payment {
        display: flex;
        width: 60%;
        height: 40%;
        background-color: white;
        justify-content: space-around;
        margin: auto;
        text-align: center;
        color: #230046;
        font-size: 20px;
        margin-top: 5%;
      }

      .usercomm {
        display: flex;
        width: 80%;
        height: 90%;
        justify-content: space-around;
        margin: auto;
        margin-top: 25px;
      }

      .user1 {
        width: 30%;
        border-radius: 15px;
        background-color: #f5e6f9;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 2%;
      }

      .userphoto {
        display: flex;
        width: 100%;
        height: 30%;
        justify-content: center;
      }

      .names {
        width: 100%;
        text-align: center;
        color: #9c00c3;
        font-weight: 700;
        font-size: 20px;
        margin-top: 25px;
      }

      .address {
        color: rgba(25, 10, 40, 0.6);
        text-align: center;
        font-size: 20px;
      }

      .winning {
        color: #e91051;
        text-align: center;
        font-size: 28px;
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
      }

      .userinfo {
        padding: 20px;
        font-size: 20px;
        text-align: center;
        color: rgba(25, 10, 40, 0.6);
        font-family: Arial, Helvetica, sans-serif;

      }

      .appdetails {
        display: flex;
        width: 50%;
        height: 80%;

        margin: auto;
        justify-content: space-around;
        margin-top: 25px;
      }

      .appImage {
        width: 40%;

      }

      .appImage>img {
        width: 100%;
        height: 100%;
      }

      .appimgdetails {
        width: 45%;
        margin-top: 5%;
      }

      #allgames {
        font-size: 30px;
        text-align: center;
        color: #230046;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 1%;
        font-weight: 500;
      }

      .gameslist {
        width: 100%;
        height: 90%;
        background-color: lightblue;

      }

      .exp {
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
      }

      .sponsor {
        width: 100%;
        height: 50%;
        background-color: #230046;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
      }

      .sp1 {
        height: 30%;
        width: 100%;


      }

      .sp2 {
        height: 70%;
        width: 30%;
        margin: auto;
        display: flex;

      }

      .sp1>h2 {
        display: flex;
        color: white;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
        font-weight: 800;
      }

      .kkr {
        width: 40%;
        height: 100%;
        margin: auto;
      }

      .kkr>img {

        width: 100%;
        height: 90%;

      }

      #navigation-header {
        position: fixed;
        /* border: 1px solid black; */
      }

      #navigation-div {
        position: fixed;
        /* border: 1px solid black; */
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        width: 100%;
        /* height: 100%; */
        display: fixed;
        background: #fff;
        font-family: roboto, sans-serif;
        z-index: 1001;
        position: fixed;
        top: 0;
        left: 0;
        max-height: 90px;
        overflow: hidden;
        outline: none !important;
      }

      #navigation-div>div {
        display: fixed;
        margin: 16px 0;
        outline: none !important;
        /* height: 48px; */
      }

      #main-logo {
        margin-left: 117px;
        width: 101px;
        height: 32px;
        outline: none !important;
      }

      #outer-main {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        outline: none !important;
      }

      #anchor-divs {
        position: relative;
        box-sizing: content-box;
        margin-right: 117px;
        width: 906px;
        display: flex;
        justify-content: space-between;
        font-weight: 450;
        font-size: 20px;
        line-height: 24px;
        color: #230046;
        outline: none !important;
      }

      .anchor-sub {
        text-align: center;
        align-items: center;
        display: flex;
        font-family: roboto, sans-serif;
        font-weight: 500;
      }

      .sub-sub-anchor {
        padding: 10px
      }

      #div-esports {
        background: #33FF66;
        border-radius: 4px;
        outline: none !important;
      }

      #sub-help {
        font-family: Trim;
        border: 1px solid rgba(25, 10, 40, 0.15);
        padding: 12px 32px;
        color: #E91051;


      }

      #sub-help>img {
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 12px;
      }

      .menu-tab {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-top: 2px solid #230046;
        border-left: 2px solid #230046;
        transition: all 550ms ease-in-out;
        margin-left: 12px !important;
        margin-right: 0px !important;
        transform: rotate(45deg);
        margin-top: -4px;
        outline: none !important;
      }

      .menu-tab:hover {
        transform: rotate(225deg) !important;
        margin-top: -6px !important;
      }

      .menu-subdivs {
        height: 200;
      }

      .submenu {
        margin-top: 40px;
        line-height: 18px;
        color: #230046;
        /* border: 1px solid red; */
      }

      .sub-menu-heading {
        display: flex;
        align-items: center;
        line-height: 20px;
      }

      .sub-sub-div {
        margin: 0 50px;
      }

      .sub-sub-div+.sub-sub-div {
        margin-top: 50px;
        line-height: 18px;
      }

      .sub-menu-heading>img {
        width: 44px;
        height: 44px;
        margin-right: 15px;
      }

      .sub-menu-heading h4 {
        font-weight: 300 !important;
        font-size: 18px;
      }

      .mpl-img {
        max-width: 150px;
        margin: auto;
      }

      #long-para {
        display: none;
      }

      .about-mpl-game-app {
        text-align: center;
      }

      .about-mpl-game-app>p {
        font-size: 24px;
        color: rgba(25, 10, 40, 0.6);
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
      }

      .about-mpl-game-app span {


        color: red;
        font-size: 24px;
      }

      .sub-menu-heading~a>h4 {
        font-size: 18px;
        margin-left: 58px;
        font-weight: 100 !important;
        font-family: sans-serif !;
        margin: 15px;
        margin-left: 58px;
      }

      .collapsible {
        background-color: #FDE7EE;
        color: rgb(43, 43, 43);
        cursor: pointer;
        padding: 24px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 20px;
        line-height: 28px;
        margin: 12px 12px 0 0;
        border-radius: 8px;
      }

      .content {
        display: none;
        overflow: hidden;

        color: #828282;
        text-align: left;
        padding: 0px 16px 16px 16px;
        margin-top: -8px;
        background-color: #FDE7EE;

      }

      .content p {
        margin: 0 8px 8px 8px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 300 !important;
      }

      .container {
        max-width: 760px;
        height: 100vh;
        margin: 0 auto;
        color: rgb(0, 0, 0);

      }

      .footer__top_wrap {
        background-color: #1a1a18;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        background-position: center center;
        color: #ffffff;
        padding-bottom: 50px;
      }

      .container-footer {
        width: 100%;
      }

      .row {
        display: flex;
        width: 80%;
        margin: auto;
        border-bottom: 1px solid #fff;
        color: #B0B5B5
      }

      .corporate-enquiry {
        width: 41%;
        float: left;
      }

      .row h3 {
        margin: 16px 0;
        ;
      }

      .footer__top_wrap a {
        font-size: 12px;
        text-decoration: none;
        color: #B0B5B5
      }

    </style>
