<style>
			* {
				margin: 0;
				/* width: 100%; */
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			}


			.display-container {

				width: 100%;
				height: 90%;
			}

			.display-container img {
				height: 600px;
				width: 100%
			}

			.mySlides {
				/* display:none; */
				width: 100%;
				height: 45vw;
			}

			.btn {
				display: flex;
				/* flex-direction: row-reverse; */
				/* align-items: stretch; */
				margin-top: -25%;
				border-radius: 8px;
			}

			.btn-2 {
				display: flex;
				flex-direction: row-reverse;
				margin-top: -3%;
				/* background-color: green; */
			}

			.left-btn {
				border-radius: 8px;
				border: none;
				background-color: transparent;
			}

			.right-btn {
				border-radius: 8px;
				border: none;
				background-color: transparent;
			}

			#navigation-header {
				position: fixed;
				/* border: 1px solid black; */
			}

			#navigation-div {
				position: fixed;
				/* border: 1px solid black; */
				align-items: center;
				justify-content: space-between;
				font-size: 14px;
				width: 100%;
				/* height: 100%; */
				display: fixed;
				background: transparent;
				font-family: roboto, sans-serif;
				z-index: 1001;
				position: fixed;
				top: 0;
				left: 0;
				height: 12%;
				overflow: hidden;
				outline: none !important;
			}

			#navigation-div>div {
				display: fixed;
				margin: 16px 0;
				outline: none !important;
				/* height: 48px; */
			}

			#main-logo {
				margin-left: 117px;
				width: 101px;
				height: 32px;
				outline: none !important;
			}

			#outer-main {
				display: flex;
				align-items: center;
				width: 100%;
				justify-content: space-between;
				outline: none !important;
			}

			#anchor-divs {
				position: relative;
				box-sizing: content-box;
				margin-right: 117px;
				width: 906px;
				display: flex;
				justify-content: space-evenly;
				font-weight: 450;
				font-size: 20px;
				line-height: 24px;
				color: white;
				outline: none !important;
			}

			.anchor-sub {
				text-align: center;
				align-items: center;
				display: flex;
				font-family: roboto, sans-serif;
				font-weight: 500;
			}

			.sub-sub-anchor {
				padding: 10px
			}

			#div-esports {
				background: #33FF66;
				border-radius: 4px;
				outline: none !important;
			}

			#sub-help {
				font-family: Trim;
				padding: 12px 32px;
				color: #E91051;
				display: flex;
				justify-content: space-between;
			}

			#sub-help i {
				position: relative;
				width: 40px;
				height: 40px;
				margin: 5px;
			}

			.menu-tab {
				display: inline-block;
				width: 8px;
				height: 8px;
				border-top: 2px solid #230046;
				border-left: 2px solid #230046;
				transition: all 550ms ease-in-out;
				margin-left: 12px !important;
				margin-right: 0px !important;
				transform: rotate(45deg);
				margin-top: -4px;
				outline: none !important;
			}

			.menu-tab:hover {
				transform: rotate(225deg) !important;
				margin-top: -6px !important;
			}

			.menu-subdivs {
				height: 200;
			}

			.submenu {
				margin-top: 40px;
				line-height: 18px;
				color: #230046;
				/* border: 1px solid red; */
			}

			.sub-menu-heading {
				display: flex;
				align-items: center;
				line-height: 20px;
			}

			.sub-sub-div+.sub-sub-div {
				margin-top: 50px;
				line-height: 18px;
			}

			.sub-menu-heading>img {
				width: 44px;
				height: 44px;
				margin-right: 15px;
			}

			.sub-menu-heading h4 {
				font-weight: 300 !important;
				font-size: 18px;
			}

			.sub-menu-heading~a>h4 {
				font-size: 18px;
				margin-left: 58px;
				font-weight: 100 !important;
				font-family: sans-serif !;
				margin: 15px;
				margin-left: 58px;
			}

			.flexible-div {
				display: flex;
				margin: auto;
				justify-content: space-between;
				/* border: 1px solid #000; */
			}

			/*
			.inner-product {
				border: 1px solid #000;
			} */

			#inner-no-1 {
				flex-basis: 100px;
			}

			#inner-no-1>img {
				opacity: 0.4;
				transition-duration: 600ms;
			}

			#inner-no-1>img {
				width: 100px;
				height: 100px;
				margin-right: 20px;
			}

			#inner-no-1>img:hover {
				opacity: 0.7;
			}

			.container-outer {
				width: 80%;
				margin: 6px auto;
			}

			#inner-no-2>img {
				width: 600px;
				height: 600px;
			}

			p .banner {
				font-weight: 500;
			}

			.size-of-tshirt {
				display: inline-block;
				min-width: 30px;
				margin-right: 10px;
				font-weight: 500;
				text-align: center;
				flex-basis: 30px;
				padding: 6px;
				border: 1px solid #000;
			}

			.size-of-tshirt:hover {
				background-color: #000;
				color: white;
				transition-duration: 400ms;
			}

			#inner-no-3 {
				width: 600px;
				padding: 0px 20px;
			}

			#add-to-cart {
				width: 60%;
				border: 1px solid #000;
				text-align: center;
			}

			#count-of-item {
				display: flex;
				width: 25%;
				border: 1px solid #000;
				margin-right: 10px;
				justify-content: space-between;
				align-items: center;
				padding: 0 20px;
				font-weight: 600;

			}

			#social-media>div {
				display: inline-block;
				margin-right: 20px;
			}

			#social-media img {
				width: 20px;
				height: 20px;
			}

			#social-media img:hover {
				transition: transformY(5rem)
			}

			#count-of-item a {
				font-size: 24px;
				text-align: center;
				text-decoration: none;
			}

			#collapsible-outer {
				border-bottom: 1px solid #9c9c9c;
				color: rgb(43, 43, 43);
				cursor: pointer;
				width: 100%;
				font-weight: 500;
				padding: 20px 0;
				font-size: 20px;
				line-height: 28px;
				justify-content: space-between;
			}

			#collapsible-outer a {
				text-decoration: none;
			}

			.collapsible {
				font-weight: 500;
				padding: 10px 0;
				font-size: 20px;
				line-height: 28px;
				background: white;
				border: 0;
			}

			.content {
				display: none;
				overflow: hidden;
				text-align: left;
			}

			.content p {
				font-size: 16px;
				font-weight: 400 !important;
				transition-duration: 600ms;
			}

			.container {
				height: 400px;
				margin: 0 auto;
				color: rgb(0, 0, 0);
			}

			.similar-products-div {
				position: relative;
			}

			#similar-products {
				text-align: center;
			}

			#similar-products>h2 {
				margin-top: 0px;
				font-size: 30px;
			}

			.product-div {
				text-align: left;
				position: relative;
				left: 0;
				margin-right: 20px;
			}

			.product-div img {
				width: 250px;
				height: 250px;
				position: relative;
				right: 0;
				top: 0;
			}

			.product-div>p {
				margin: 5px 0px 2.5px 0;
			}

			.product-price {
				margin: 2.5px 0px 5px 0;
			}

			.product-div>button {
				padding: 6px 20px;
				background-color: #FFAB00;
				border: 0px;
				color: white;
				font-size: 16px;
				font-weight: 400;
			}

			.product-div:hover .fa-heart {
				opacity: 1;
				transition-duration: 600ms;
			}


			.fa-heart {
				color: #9c9c9c;
				position: absolute;
				z-index: 100;
				opacity: 0;
			}

			.fa-heart:hover {
				color: #FF1E46;
			}

			.heart {
				position: absolute;
				top: 5%;
				right: 15%;
				z-index: 12;
			}

			#similar-products-div {
				display: flex;
				overflow-x: scroll;
			}

			#similar-products-div::-webkit-scrollbar {
				display: none;
			}

			.footer__top_wrap {
				background-color: #1a1a18;
				background-repeat: no-repeat;
				background-size: cover;
				background-attachment: scroll;
				background-position: center center;
				color: #ffffff;
				padding-bottom: 50px;
				margin-top: 50px;
			}

			.container-footer {
				width: 100%;
			}

			.row {
				display: flex;
				width: 80%;
				margin: auto;
				border-bottom: 1px solid #fff;
				color: #B0B5B5
			}

			.corporate-enquiry {
				width: 41%;
				float: left;
			}

			.row h3 {
				margin: 16px 0;
				;
			}

			.footer__top_wrap a {
				font-size: 12px;
				text-decoration: none;
				color: #B0B5B5
			}

			#buy-it-now {
				margin: 10px 0;
				width: 70%;
				padding: 5px 20px;
				text-align: center;
				background: #FF1E46;
				color: #fff;
				font-weight: bold;
				font-size: 20px;
			}

			#count {
				border-left: 1px solid #9ea0a0;
				border-right: 1px solid #9ea0a0;
				padding: 6.5px 15px;
			}

			.whole {
				width: 100vw;
				height: 100vh;
				margin: 0%;

			}

			.image_logo {
				width: 100vw;
				height: 27%;
				background-color: #9b00c3 !important;
				display: flex;
				justify-content: center;
				margin-top: -8.5%;
				padding: 7px 0px;
				align-items: center;


			}

			.logo_txt {
				width: 40%;
				font-size: 18px;
				color: white;
				align-items: center;

			}

			.img1 {

				width: 15%;
				height: 60%;
				margin-top: 12px;

			}

			#india_logo {
				height: 100px;
				width: 100px;
				margin-left: 90px;
			}

			.vit {
				width: 100vw;
				height: 65vh;
				background-image: url("https://cdn.shopify.com/s/files/1/0553/4793/7465/files/fan_e5f88d79-12ee-4b00-8ca4-8da73e0b1aa2_1080x.png?v=1624009082");
				background-position-x: right;
				background-color: #cd1084;
				background-repeat: no-repeat;
			}

			#no2 {
				background-image: url("https://cdn.shopify.com/s/files/1/0553/4793/7465/files/exclusive_720x.png?v=1624688760");
				background-color: #fd1f48;

			}

			#no3 {
				background-image: url("https://cdn.shopify.com/s/files/1/0553/4793/7465/files/active_720x_6cd75b6c-4933-4ceb-92bb-c30650d6966d_720x.png?v=1625235392");
				background-color: #9c00c5;

			}

			#no4 {
				background-image: url("https://cdn.shopify.com/s/files/1/0553/4793/7465/files/blue-tshirt_aa254ed7-e688-462b-935a-ce82a51216d3_540x.png?v=1623330577");
				background-color: #0b1135;
			}

			.pic_login>h1 {
				display: inline-block;
				margin-top: 7%;
				margin-left: 5%;
				color: white;
				font-weight: 600px;
				font-size: 45px;
				font-family: Arial, Helvetica, sans-serif;
			}

			.head1 {
				width: 100%;
				height: 10%;
			}

			.win {
				color: white;
				font-size: 20px;
				margin-left: 5%;
			}

			.otp {
				height: 50px;
				width: 720px;
				margin-top: 2%;
				margin-left: 2%;
				display: flex;

			}

			#subnum {
				width: 25%;
				height: 100%;
				margin-left: 5%;
				border-radius: 5px;
				color: #33ff66;
				font-size: 20px;

				background: #1f0543
			}

			.payment {
				display: flex;
				width: 60%;
				height: 40%;
				background-color: white;
				justify-content: space-around;
				margin: auto;
				text-align: center;
				color: #9e9e9e;
				font-weight: 600;
				font-size: 18px;
				margin-top: 5%;
			}

			.head1>h2 {
				display: flex;
				color: #000;
				justify-content: center;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 40px;
				font-weight: 800;
				margin-top: 10%;
			}

		</style>
